include mixins
html
	head
		link(rel='stylesheet',href='/css/client.css')
		script(src="/js/jquery.js")
		script(src="/js/admin.js")
		title Starbind - Admin Panel
	body
		#content
			if !installFound
				.innerContent
					h1.fail Unable to find Starbound installation, please check the STARBOUND_INSTALL_DIR entry in your config.json file
			.heading
				h1 Starbind - Admin Panel
				.subheading Manage your mods and your Starbound server
			.innerContent
				#status
					h2 Server Status
					if status.isRunning
						p.success Starbound server is running on port #{config.gamePort}
						input#stopServerBtn.redbutton(type="button",value="Stop Server")
					else
						p.fail Starbound server is stopped
						input#startServerBtn.button(type="button",value="Start Server")
					#info
			.innerContent
				h2 Mods
				#mods
			.innerContent
				h2 Server Log
				div#log
