html
	head
		title Starbind
		link(rel='stylesheet',href='/css/client.css')
		script(src="/js/jquery.js")
		script(src="/js/client.js")
	body
		#content
			if !installFound
				.innerContent
					h1.fail Warning - Starbound install not found
					h1.fail Please set the STARBOUND_INSTALL_DIR property in the config.json file
			else
				.heading
					h1 Starbind
					.subheading Mod synchronizer for Starbind-enabled Starbound servers

				.innerContent
					p Enter the IP address (or hostname) and port for the Starbind server you wish to connect to.
					form#hostForm
						input#hostInput.text(type="text",name="host",placeholder="hostname")
						br
						input#syncBtn.button(type="button",value="Sync Mods")
						br
						input#launchBtn.button(type="button",value="Launch Starbound")
					#info
					p Note that the Starbind server port is NOT the same as the Starbound game server port.
				.innerContent
					#footer
						| Questions, comments, bugs? View the project on <a href="https://github.com/DougHamil/starbind-server">GitHub</a>.


